<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-Sounds</title>
    <link rel="stylesheet" href="../public/css/products.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">


        <div class="nav">
            <div class="home">
                <ul>
                    <li class="music">&#119070;V-FASHION</li>
                    <li><a href="../index.html">Home</a></li>
                    <li class="accountDropdown">
                        <a href="#">Categories</a>
                        <div class="dropdown-content">
                            <a href="views/products.html">Men's Clothing</a>
                            <a href="views/products.html">Jewellery</a>
                            <a href="views/products.html">Electronics</a>
                            <a href="views/products.html">Women's Clothing</a>
                        </div>
                    </li>

                    <li>
                        <div class="search-container">
                            <input type="text" placeholder="Search Products, Brand and Categories">
                            <ion-icon name="search-outline"></ion-icon>
                        </div>
                    </li>
                    <li><button id="search">Search</button></li>

                </ul>

            </div>
            <div class="account">
                <ul>
                    <div class="accountIcon">
                        <li class="accountDropdown">
                            <a href="">Account</a>
                            <div class="dropdown-content">
                                <a href="#">Profile</a>
                                <a href="/views/signin.html">Login</a>
                                <a href="/views/signup.html">Signup</a>
                                <a href="/views/signin.html">Logout</a>
                            </div>
                        </li>
                        <li><ion-icon name="person-outline"></ion-icon></li>
                    </div>
                    <li class="accountDropdown">
                        <a href="">Help</a>
                        <div class="dropdown-content">
                            <a href="/views/signin.html">Product</a>
                            <a href="/views/signup.html">Account</a>
                        </div>
                    </li>
                    <div class="cart">
                        <li>Cart</li>
                        <li><a href="checkout.html"><i class="fa" style="font-size:24px">&#xf07a;</i>
                            <span class='badge badge-warning' id='cart-count'>0 </span></a> 
                        </li>
                        
                    </div>
                  
                </ul>

            </div>
        </div>


        <!-- Selected Product -->
        <div class="selectedProduct">
          
            

        </div>
        

        <!-- Products. -->
        <h1 style="margin: 30px;">Other Products</h1>
        <div class="Products">
         
        </div>

   

       
        
        <!-- Contact. -->
        <div class="info">
            <div class="information">
                <h4>Company Info</h4>
                <ul>
                    <li>About us</li>
                    <li>Career</li>
                    <li>Blog</li>
                </ul>
            </div>
            <div class="information">
                <h4>FAQs</h4>
                <ul>
                    <li>Product tracking</li>
                    <li>Privacy Policy</li>
                    <li>Shiping and Returns</li>
                </ul>
            </div>
            <div class="information">
                <h4>Get in touch</h4>
                <ul>
                    <li><ion-icon name="call-outline"></ion-icon>&nbsp;(480) 555-0103</li>
                    <li><ion-icon name="location-outline"></ion-icon>&nbsp;4517 Washington Ave</li>
                    <li><ion-icon name="mail-outline"></ion-icon>&nbsp;debra.holt@example.com</li>
                </ul>
            </div>

        </div>

        <!-- footer -->
        <footer>
            <div class="footer-words">
                <p>&copy; Made With Love By Michael &nbsp;All Rights Reserved</p>
            </div>
            <div class="footer-icons">
                <ul>
                    <a href=""> <li><ion-icon name="logo-facebook"></ion-icon></li></a>
                   <a href=""><li><ion-icon name="logo-instagram"></ion-icon></li></a>
                   <a href=""><li><ion-icon name="logo-twitter"></ion-icon></li></a>
                </ul>
            </div>
        </footer>





    </div>


</body>
<script src="../public/scripts/products.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</html>