body {
  height: 100vh;
  background-color: #f1eaea;
  margin: 0;
}

.navigation {
  display: flex;
  justify-content: center;
  background-color: white;
}

.nav {
  display: flex;
  align-items: center;
  list-style-type: none;

}

.nav li {
  margin: 0 60px;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav a:hover {
  background-color: gray;
  padding: 10px;
  border-radius: 5px;
}

.delete-icon {
  font-size: 24px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: white;
}

.item-details{
  max-width: 50%;
  flex-wrap: wrap;
  display: flex;
  padding: 10px;
  gap: 10px;
}
.item{
  width: 193px;
  padding: 10px;
  border-radius: 5px;
}
.quantity-button{
  margin: 20px;
  font-size: 20px;
  padding: 0px 10px;
}
.total {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.add-more-button {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border: 2px solid #000000;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
  display: flex;
  align-items: center;
}



.checkout-button {
  background-color: #000000;
  color: #f7f3f3;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

.payment-options {
  transition: transform 0.5s ease;
  transform: translateX(-50%) translateY(0);
  left: 50%;
  bottom: 0;
  position: fixed;
  background-color: #ffffff;
  padding: 20px;
  display: none;
  border: solid gray 1px;
  border-radius: 5px;
}

.payment-options.show {
  display: block;
}

.payment-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.payment-option input[type="radio"] {
  margin-right: 10px;
}

.img {
  width: 50px;
}

.item {
  background-color: rgb(231, 230, 230);
}

.payment-options {
  transition: transform 0.5s ease;
  transform: translateX(-50%) translateY(0);
  left: 50%;
  bottom: 0;
  position: fixed;
  background-color: #ffffff;
  padding: 20px;
  display: none;
}

.payment-options.show {
  display: block;
}

.payment-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.payment-option input[type="radio"] {
  margin-right: 10px;
}


.custom-dialog {
  display: none;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}


.custom-dialog button {
  margin: 5px;
}

@media screen and (max-width:720px) {
  .nav{
    flex-wrap: wrap;
  }
  
}