*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    margin: 10px;
}

.music {
    font-size: 35px;
  
}


/* naviagation */
.nav{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin-bottom: 30px;
    padding: 20px;
}
.home ul li a{
    text-decoration: none;
    color: black;
}
.search-container {
    position: relative;
    border: thistle gray 0.1px;
}
ion-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
input {
    padding:0.5em 1em ;
    width: 400px;
}
#search{
    padding: 8px;
}
.home ul{
    display: flex;
    list-style-type: none;
}
.home ul li{
    margin: 10px;
}
.account ul{
    display: flex;
    list-style-type: none;
}
.account ul li a{
    text-decoration: none;
    color: black;
}
.account ul li{
    margin: 10px;
}
.account ion-icon{
    position:relative;
    margin: 0;
}
.accountIcon{
   display: flex;
}
button {
    padding: 8px 
}
.accountDropdown {
    position: relative;
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.accountDropdown:hover .dropdown-content {
    display: block;
    width: auto;
}
.dropdown-content a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
}
.dropdown-content a:hover{
    background-color: rgb(49, 47, 47);
    color: white;
}
.cart{
    display: flex;
}
.cart:hover{
    background-color: rgb(219, 219, 219);
}

/* new Products */
.newProducts{
    position: relative;
    border: solid gray 1px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(235, 233, 233);
   
}
.productName{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.words{
    text-align: center;
    width: 60%;
    overflow-wrap: break-word;
}
.productImage{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
.image {
    width: 60%;
    height: auto;
   
}
.image img{
    width: 80%;
   
}
.arrow {
    font-size: 48px;
    cursor: pointer;
    color: gray;
    transition: color 0.3s;
    visibility: hidden;
}
.arrow:hover {
    color: black;
}
.newProducts:hover .arrow{
    visibility: visible;
    
}

/* Products. */
.Products{
    display:flex ;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    background-color: rgb(240, 237, 237);
    justify-content: center;
}
.Products > div {
    padding: 10px;
    margin:2px 2px 2px 2px; 
    width: 250px;
    background-color: white;
}
.Products h2 {
    font-size: 1.2em;
    color: #333;
    display: none;
}
.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
  }

  .product-container a {
    text-decoration: none;
  }

  .product-container img {
    width: 40%;
    height: 50%;
  }

  .description {
    flex-grow: 1; 
    color: rgb(54, 53, 53);
  }

  .price, .category {
    margin-top: 10px;
  }
  .category{
    display: none;
  }
  .price{
    color: gray;
  }

  button {
    margin-top: 10px;
    cursor:pointer;
    visibility: hidden;
  }
  .product-container:hover button{
    visibility: visible;
  }




/* Recent Products */
.Rwords{
    text-align: center;
    margin: 40px;
}
.Rwords h4{
    color: gray;
}
.recentProducts{
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.recentProducts ul{
    list-style-type: none;
}
.recentProducts ul li{
    margin: 20px;
}
.recentProducts ul li img{
    width: 200px;
    padding: 10px;
    
}
.recentSpeakers{
    text-align: center;
}
.recentProducts{
    background-color: rgb(247, 246, 246);
}

/* Message. */
.Messages{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.message{
    width: 30%;
    padding: 50px;
   
}
.message h4{
    color: rgb(51, 56, 61);
    line-height: 2;
    text-align: center;
    
}

/* Contact. */
.info {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color: rgb(206, 203, 203);
    color: black;
}

.information ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.information ul li {
    color: black;
}
.information ion-icon {
    position: relative;
    color: black;
    font-size: 20px;
}
footer {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.footer-icons ion-icon{
    position: relative;
    color: black;
    padding: 10px;
    font-size: 20px;
}
.footer-icons ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.footer-icons ul li {
    margin: 0 10px;
}

.footer-words p {
    color: black;
}



